body{
    background-color: blue;
}

.cont{
    background-color: antiquewhite;
    height: 350px;
    width: 40%;
    margin: 15% auto;
    text-align: center;
    padding-top: 15px;
    font-size: 1.2rem;
    border-radius: 10px;
}

input{
    width: 70%;
    height: 25px;
}

input[type ="submit"]{
    margin: 10px;
    width: 40%;
    background-color: blue;
    color: antiquewhite;
    border: none;
    height: 40px;
}

h6{
    color : red
}